.card:hover {
  box-shadow: 0 .5rem 2rem rgba(0, 0, 0, 0.4)!important;
}

a {
  text-decoration: none!important;
}

.barber-view {
  font-size: 190px;
  margin-top: 20px;
}

.card-title {
  padding: 10px;
}

.barber-view-card img {
  width: 100%;
  border-radius: 3px;
  opacity: 0.8;
}

.barber-view-card img:hover {
  opacity: 0.9;
}

.barber-view-card h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-style: italic;
}