html, body {
  overflow-x: hidden;
}

body {
  background-color: #495c85;
}

.row.profile-top-row {
  position: relative;
  min-height: 170px;
  background: rgb(235,236,242);
  border-bottom: 2px solid white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.profile-image {
  border: 3px solid white;
}

.pic-col {
  position: absolute;
  top: 80px;
}

.fas.fa-arrow-circle-left:hover {
  color: #98242f;
}

.fas.fa-arrow-circle-left {
  color: #dc3545;
  border-radius: 50%;
  font-size: 35px;
}

.back-col {
  position: absolute;
  top: 20px;
  left: 20px;
}

.chart-col{
  position: absolute;
  top: 7px;
  left: 55px;
  font-size: 30px;
}

.fas.fa-camera {
  color: white;
  background-color: rgb(46,51,95);
  padding: 10px;
  font-size: 20px;
  border-radius: 50%;
  border: 1px solid white;
}

.fas.fa-camera:hover {
  color: white;
  background-color: #ac2936;
  padding: 10px;
  font-size: 20px;
  border-radius: 50%;
  border: 1px solid white;
}

.camera-col {
  top: 160px;
  left: 80px;
}

.card-margin {
  margin-top: 80px;
}

.pro-info {
  font-size: 15px;
  font-weight: 400;
}

.card-body h5 {
  font-weight: 700;
  font-size: 17px;
}

.btn.btn-primary {
  font-size: smaller;
  position: absolute;
  right: 15px;
}

.card-header {
  font-weight: 700;
  color: white;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
  background: #dc3545;
}

.btn.btn-primary {
  background: #2e335f;
  border-radius: 25px;
  border: 1px solid white;
}

.btn.btn-primary:hover {
  background: #ac2936;
}

.barber-icon-col {
  position: absolute;
  top: 20px;
  right: 20px;
}
.settings-icon-col {
  font-size: 28px;
  position: absolute;
  top: 14px;
  right: 60px;
}

.barber-icon:hover {
  background-color: #98242f;
}

.barber-icon {
  fill: white;
  font-size: 23px;
  font-weight: bold;
  background-color: #dc3545;
  padding: 6px;
  border-radius: 50%;
}

.barber-notif {
  background-color: var(--primary);
  height: 20px;
  width: 20px;
  color: white;
  border-radius: 50%;
  padding: 0;
  border: 1px solid white;
  font-size: x-small;
  position: absolute;
  top: 10px;
  right: 28px;
}

.barber-notif p {
  margin: 0;
  padding: 1px 2px;
}

.row-2 {
  margin-top: 10px;
  height: 30px;
  background: #dc3546;
  border-bottom: 2px solid white;
  border-top: 2px solid white;
}

select, label, input{
  display: none;
}

#id_street,#id_city,#id_state{
  display:block;
  width:80%;
  font-weight: 500;
  margin: 20px auto;
  border-radius: 5px;
  border: 1px solid #777676;
  padding: 7px;
  text-indent: 15px;
  height: 42px;
  opacity: .4;
}
.red{
  color: #dc3545;
}
.red:hover{
  color: #c02f3e;
}

.fa-bell{
  color: #dc3545;
  font-size: 30px;
  padding: 1px 2px;
}
.fa-bell:hover{
  color: #b62c3a;
}

#welcome {
  color: #505e6c!important;
  padding-top: 20px;
  padding-bottom: 15px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-style: italic;
}

.heading-col {
  position: absolute;
  top: 5px;
}

.container {
  padding-right: 3px;
  padding-left: 3px;
}

.completed-btn{
  background-color: #ffffff00;
  border: 0;
  font-size: 20px;
  padding: 0;
  margin: 0;
}

.yes{
  background-color: #2f89fc;
  color: white;
  padding: 5px 10px;
  border-radius: 25px;
}

.no{
  background-color: #dc3545;
  color: white;
  padding: 5px 10px;
  border-radius: 25px;
}

.client-complete{
  position: absolute;
  font-size: 15px;
  top: 20px;
  right: 40px;
  background-color: #dc3545;
  padding: 9px 11px;
  color: white;
  border-radius: 50%;
}

.client-noti{
  height: 25px;
  width: 25px;
  position: absolute;
  font-size: 10px;
  top: 10px;
  right: 30px;
  color: white;
  background-color: var(--primary);
  border: 2px solid white;
  border-radius: 50%;
}

.client-noti p{
  margin: 0;
  padding-top: 3px;
}

.icon-red{
  color: #dc3545;
  font-size: 200px;
  background-color: white;
  border-radius: 50%; 
}

.aniversary{
  background: linear-gradient(to right, rgb(18, 194, 233), rgb(196, 113, 237), rgb(246, 79, 89));
}

.aniversary_noti{
  background: linear-gradient(to right, rgb(195, 20, 50), rgb(36, 11, 54));
}

.barber_noti{
  position: absolute;
  top: 25px;
  right: 80px;
}

.noti-col{
  position: absolute;
  z-index: 1;
  top: 70px;
  right: 80px;
  width: 300px;
  background-color: white;
  color: black;
  border: 2px solid #dc3545;
}

.fa-sort-up{
  position: absolute;
  font-size: 35px;
  top: 57px;
  right: 99px;
  color: #dc3545;
}
@media (max-width:1200px){
  #barberNoti{
    display: none; /* Hidden by default */
    position: absolute;
    top: 70px;
    right: 80px;
    z-index: 1; /* Sit on top */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
}
@media (max-width:2000px){
  #barberNoti{
    display: none; /* Hidden by default */
    position: absolute;
    top: 70px;
    right: 80px;
    z-index: 1; /* Sit on top */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
}
@media (max-width:594px){
  #barberNoti{
    display: none; /* Hidden by default */
    position: absolute;
    top: 70px;
    right:20px;
    z-index: 1; /* Sit on top */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
}
@media (max-width:415px){
    #barberNoti{
      display: none; /* Hidden by default */
      position: absolute;
      top: 70px;
      right: 17px;
      z-index: 1; /* Sit on top */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }
}
@media (max-width:320px){
  #barberNoti{
    display: none; /* Hidden by default */
    position: absolute;
    top: 70px;
    right: 15px;
    z-index: 1; /* Sit on top */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
}
@media (max-width:300px){
  #barberNoti{
    display: none; /* Hidden by default */
    position: absolute;
    top: 70px;
    right: 10px;
    z-index: 1; /* Sit on top */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
}

.dropdown-menu{
  width: 100%;
}

.close {
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.dropdown-header{
  background-color: #dc3545;
}

.barber-count-noti{
  height: 25px;
  width: 25px;
  position: absolute;
  font-size: 10px;
  top: 15px;
  right: 85px;
  color: white;
  padding: 2px;
  background-color: var(--primary);
  border: 2px solid white;
  border-radius: 50%;
}

.beer img{
  width: 100%;
}
.gradient{
  background: linear-gradient(to right, rgb(18, 194, 233), rgb(196, 113, 237), rgb(246, 79, 89));
}

.profile-icon{
  color: #dc3545;
  background-color: #ffffff;
  font-size: 200px;
  border-radius: 50%;
}