{% extends 'user_profile/base.html' %}
{% load static %}
{% block javascript %}
<script>
  $(function () {

    /* SCRIPT TO OPEN THE MODAL WITH THE PREVIEW */
    $("#id_file").change(function () {
      if (this.files && this.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
          $("#image").attr("src", e.target.result);
          $("#modalCrop").modal("show");
        }
        reader.readAsDataURL(this.files[0]);
      }
    });

    /* SCRIPTS TO HANDLE THE CROPPER BOX */
    var $image = $("#image");
    var cropBoxData;
    var canvasData;
    $("#modalCrop").on("shown.bs.modal", function () {
      $image.cropper({
        viewMode: 1,
        aspectRatio: 1 / 1,
        minCropBoxWidth: 200,
        minCropBoxHeight: 200,
        ready: function () {
          $image.cropper("setCanvasData", canvasData);
          $image.cropper("setCropBoxData", cropBoxData);
        }
      });
    }).on("hidden.bs.modal", function () {
      cropBoxData = $image.cropper("getCropBoxData");
      canvasData = $image.cropper("getCanvasData");
      $image.cropper("destroy");
    });

    $(".js-zoom-in").click(function () {
      $image.cropper("zoom", 0.1);
    });

    $(".js-zoom-out").click(function () {
      $image.cropper("zoom", -0.1);
    });

    /* SCRIPT TO COLLECT THE DATA AND POST TO THE SERVER */
    $(".js-crop-and-upload").click(function () {
      var cropData = $image.cropper("getData");
      $("#id_x").val(cropData["x"]);
      $("#id_y").val(cropData["y"]);
      $("#id_height").val(cropData["height"]);
      $("#id_width").val(cropData["width"]);
      $("#formUpload").submit();
    });

  });
</script>
<script>
  $(".fa-camera").click(function () {
    $("input[type='file']").trigger('click');
  });

  $('input[type="file"]').on('change', function () {
    var val = $(this).val();
    $(this).siblings('span').text(val);
  })
</script>
{% endblock %}
{% block content %}
<section>
  <div class="container">
    <div class="row d-flex justify-content-center align-items-center profile-top-row shadow">
      <div class="d-none d-md-block col-12 col-md-6 heading-col">
        <h4 class="text-center text-dark" id="welcome">Hello {{ barbers.barber}}!
        </h4>

      </div>
      {% if not barbers.file %}
      <div class="col-12 text-center pic-col"><i class="icon-red fas fa-user-circle pl-1 pr-1 shadow"></i></div>
      {% else %}
      <div class="col-12 text-center pic-col"><img class="rounded-circle border-white shadow profile-image"
          src="{{ barbers.file.url }}" height="200px" width="200px"></div>
      {% endif %}



      <div class="col-auto back-col"><a href="{% url 'barbershop-barberprofilelist' %}"><i
            class="fas fa-arrow-circle-left"></i></a></div>
      <div id="myCompleted" class="col-auto client-complete"><i class="fas fa-users"></i></div>

      {% if completed.count == 0 %}
      <div>
        <p></p>
      </div>
      {% else %}
      <span class="client-noti badge badge-light">{{ completed.count }}</span>
      {% endif %}

      <div id="myBtn" class="col-auto barber_noti"><i class="fas fa-bell"></i></div>
      {% if anniversary.count == 0 %}

      {% endif %}
      {% for anni in anniversary %}
      {%if anni.id == barbers.id %}

      {% else %}
      <span class="barber-count-noti badge badge-light">{{anniversary.count}}</span>
      {% endif %}
      {% endfor %}


      <div id="outFrame">
        <div class="container">
          <div class="row d-flex justify-content-center">
            <div class="col-12">
              <div id="barberNoti" class="barbernoti col-12 justify-content-center align-content-center shadow">
                <div role="menu"
                  class="col-11 col-sm-10 col-md-6 col-lg-5 p-0 dropdown-menu dropdown-menu-right show dropdown-list dropdown-menu-right animated--grow-in">
                  <span class="close pr-2">&times;</span>
                  <h6 class="text-white text-center dropdown-header rounded">Notifications</h6>
                  <div class="col-12">
                    {% if anniversary.count == 0 %}
                    <p class="text-center mt-2">No Notifications</p>
                    {% endif %}
                    {% if anniversary != 0 %}
                    {% for a in anniversary %}
                    {%if a.id == barbers.id %}
                    {% else %}
                    <div class="d-flex justify-content-center align-content-center align-items-center">
                      <div class="col-2 text-center p-0 beer"><img class="rounded-circle module-border-wrap"
                          src="{{ a.file.url }}" alt="">
                      </div>

                      <div class="col-10 mt-2 border-bottom">
                        <p class="font-weight-bold m-0 ">Congratulate {{ a.barber }} for another year at the BarberShop!
                        </p>
                        <p class="text-center border gradient p-1 text-white pb-2 rounded mt-2"><small>Celebrating
                            {{ a.years_in_shop }} years today!</small></p>
                      </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="outOfFrame">
        <div class="container">
          <div class="row d-flex justify-content-center">
            <div class="col-12">
              <div id="barberCompleted" class="barbernoti col-12 justify-content-center align-content-center shadow">
                <div role="menu"
                  class="col-11 col-sm-10 col-md-6 col-lg-5 p-0 dropdown-menu dropdown-menu-right show dropdown-list dropdown-menu-right animated--grow-in">
                  <span class="close2 pr-2">&times;</span>
                  <h6 class="text-white text-center dropdown-header rounded">Customers Completed</h6>
                  <div class="col-12">
                    {% if completed.count == 0 %}
                    <p class="text-center mt-2">No Customers</p>
                    {% endif %}
                    {% if completed != 0 %}
                    {% for complete in completed %}
                    <div class="d-flex justify-content-center align-content-center align-items-center">


                      <div class="col-12 mt-2 border-bottom">
                        <p class=" m-0 mb-2 text-center">Client: <span
                            class="font-weight-bold">{{ complete.name }}</span> | Completed At: <span
                            class="font-weight-bold">{{ complete.completed_time}}</span></p>
                      </div>
                    </div>
                    {% endfor %}
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>



      <div class="col-auto heading-col">
        {% for message in messages %}
        <div class="row d-flex justify-content-center align-items-center align-content-center">
          <div id="mydiv" class="mt-2 col-12 alert alert-{{ message.tags }} fade show message text-center"
            id="success-alert" role="alert">
            {{ message }}
          </div>
        </div>

        {% endfor %}
      </div>
      <form action="{% url 'barberphoto' barbers.id %}" method="post" enctype="multipart/form-data" id="formUpload">
        {% csrf_token %}
        <div class="col-auto camera-col"><i class="card-animation fas fa-camera shadow"></i>{{  photoform }}
        </div>
      </form>

    </div>
  </div>
</section>
<div>

  <!-- MODAL TO CROP THE IMAGE -->
  <div class="modal fade" id="modalCrop">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <h4 class="modal-title p-1">Close</h4>
          </button>
        </div>
        <div class="modal-body">
          <img src="" id="image" style="max-width: 100%;">
        </div>
        <div class="modal-footer">
          <div class="btn-group pull-left" role="group">
            <button type="button" class="btn btn-default js-zoom-in">
              <span class="glyphicon glyphicon-zoom-in"></span>
            </button>
            <button type="button" class="btn btn-default js-zoom-out">
              <span class="glyphicon glyphicon-zoom-out"></span>
            </button>
          </div>
          <button type="button" class="btn btn-danger badge-pill" data-dismiss="modal">Nevermind</button>
          <button type="button" class="btn btn-primary badge-pill js-crop-and-upload">Crop and upload</button>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid shadow">
    <div class="row row-2">
      <div class="col">
        <div></div>
      </div>
    </div>
  </div>
</div>
<div class="">
  <div class="container">
    <div class="row d-flex justify-content-center card-margin">
      <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 mb-4 p-0">
        <div class="card shadow">
          <h5 class="card-header">Barber's Info</h5>
          <div class="card-body">

            {% if hire.day == todays_date.day and hire.month == todays_date.month %}
            <div class="aniversary p-2 rounded text-light mb-3">
              <h4 class="text-center">{{ happy_hire_day }}</h4>
              <p class="text-center mb-2"><small>{{ happy_hire_greeting }}</small></p>
            </div>
            {% endif %}
            <h5>Name: <span class='pro-info'>{{ barbers.barber }}</span></h5>
            {% if barbers.available == False %}
            <h5>Available: <span class='pro-info no font-weight-bold'>No</span></h5>
            {% else %}
            <h5>Available: <span class='pro-info yes font-weight-bold'>Yes</span></h5>
            {% endif %}
            <h5>Phone #: <span class='pro-info'>({{ area_code }}) {{ first_3_number }}-{{ last_4_number }}</span></h5>
            <h5>License #: <span class='pro-info'>{{ barbers.license_num }}</span></h5>
            <h5>Hire Date: <span class='pro-info'>{{ barbers.hire_date }}</span></h5>
            {% if not years_in_shop %}
            <h5>Years in the Shop: <span class='pro-info'>0 Years</span></h5>
            {% else %}
            <h5>Years in the Shop: <span class='pro-info'>{{ years_in_shop }} Years</span></h5>
            {% endif %}
            <form action="{% url 'barber_status' barbers.id %}">
              {% csrf_token %}
              <button class="btn btn-primary btn-border" type="submit">Update Status</button>
            </form>
          </div>
        </div>
        <a href="/appointment_services/{{barbers.id}}" class="text-dark text-decoration-none">
        <div class="card mt-3 card-animation">
          <div class="card-body">
            <div class="row justify-content-center align-content-center">
              <h4 class="text-font">Book Now</h4>
            </div>
          </div>
        </div>
      </a>

      </div>
      <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 mb-4">
        <div class="card shadow">
          <div class="col-12 card-header d-flex">
            <h5 class="m-0 col-4 text-center">Client</h5>
            <h5 class="m-0 col-4 text-center">Barber</h5>
          </div>
          <div class="barber-clients">
            {% for client in clients %}
            <div class="p-2 border-bottom card-body d-flex text-center">
              <div class="col-4">
                <h5>{{ client.name }}</h5>
              </div>
              <div class="col-4">
                <h5>{{ client.barber }}</h5>
              </div>
              <div class="col-4">
                <form action="{% url 'barbershop-complete' client.id barbers.id %}">
                  {% csrf_token %}
                  <button class="completed-btn red" type="submit"><i class="fas fa-check"></i></button>
                </form>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
</div>
</div>

{% endblock %}