{% extends 'barbershop/base.html' %}
{% load static %}
    {% block content %}
    <script   src="https://code.jquery.com/jquery-3.4.1.js"   integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="   crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
    $( function() {
        $( "#id_hire_date" ).datepicker();
    } );
    </script>
    

        <section>
                <div class="container">
                    <div class="row d-flex justify-content-center align-items-center align-content-center">
                            <div class="form col-11 col-sm-11 col-md-10 col-lg-8 text-center text-white d-flex justify-content-center align-items-center align-content-center">
                                    <form action="{% url 'barberprofileupdate' barbers.id %}" class="site-form shadow" method="POST">
                                        {% csrf_token %}
                                        <h1>Barber Info</h1>
                                        <H5>Barber: <span class="red font-weight-bold">{{ barbers.barber }}</span></H5>
                                        <p class="d-none">{{ form.barber }}</p>
                                        {{ form.phone }}
                                        {{ form.license_num }}
                                        {{ form.hire_date }}
                                        <p class="d-none">{{ form.available }}</p>
                                        
                                        <input class="confirm-button" id="my-signup" type="submit" value="Save">
                                        <a href="{% url 'barbershop-settings'%}" class="confirm-button">Cancel</a>
                                    </form> 
                            
                            </div>
                            
                    </div>
                </div>
                
            </section>

            
    {% endblock content %}