{% extends 'barbershop/base.html' %}
{% load static %}
{% block content %}
<section>
                <div class="container">
                    <div class="row d-flex justify-content-center align-items-center align-content-center">
                            <div class="form col-11 col-sm-11 col-md-10 col-lg-8 text-center text-white d-flex justify-content-center align-items-center align-content-center">
                                    <form action="{% url 'user-address' %}" class="site-form shadow" method="post">
                                        {% csrf_token %}
                                        <h1>Address</h1>
                                        {{ form }}
                                       
                                        <input class="confirm-button" id="my-signup" type="submit" value="Update">
                                        <a href="{% url 'user-profile' %}" class="confirm-button">Cancel</a>
                                </form> 
                            
                            </div>
                            
                    </div>
                </div>
                
            </section>
{% endblock content %}