{% extends 'barbershop/base.html' %}
{% load static %}     
{% block content %}

    <section>
        <div class="container">
        <div class="row justify-content-center align-content-center align-items-center shadow bg-light" id="wait-list">
            <div class="col-3 text-center">
                <a href="{% url 'barbershop-waitinglist' %}"><i class="red fas fa-arrow-circle-left mt-3"></i></a>
                <p class="b-list">Back</p>
            </div>
            <div class="col-6">
                    <h2 class="text-center text-dark" id="welcome">Completed</h2>
            </div>
                <div class="col-3 text-center">
                    {% if title == "Last_Year" %}
                    <a href="{% url 'barbershop-completed' %}"><i class="red fas fa-calendar-alt mt-3"></i></a>
                    <p class="b-list">{{ todays_year }}</p>
                    {% else %}
                    <a href="{% url 'barbershop-completed_last_year' %}"><i class="red fas fa-calendar-alt mt-3"></i></a>
                    <p class="b-list">{{ last_year }}</p>
                    {% endif %}
                </div>  
        </div>
    </div>
    </section>
    {% for message in messages %}
        <div class="row d-flex justify-content-center align-items-center align-content-center">
            <div id="mydiv" class="col-10 col-sm-10 col-md-8 col-lg-6 col-xl-5 alert alert-danger alert-dismissible fade show message text-center" id="success-alert" role="alert">
                {{ message }}
            </div>
        </div>
            <script src="{% static 'barbershop/assets/js/alert.js' %}"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    {% endfor %}
<section class="list-table">
    <div class="row my-5 justify-content-center">
        <div class="col-11 col-sm-10 col-lg-8 col-xl-7 chart-bg shadow">
            {% if title == "Last_Year" %}
            <h4 class="text-center">{{ last_year }}</h4>
            {% else %}
            <h4 class="text-center">{{ todays_year }}</h4>
            {% endif %}
          <canvas data-bs-chart="{&quot;type&quot;:&quot;bar&quot;,&quot;data&quot;:{&quot;labels&quot;:[&quot;Jan&quot;,&quot;Feb&quot;,&quot;Mar&quot;,&quot;Apr&quot;,&quot;May&quot;,&quot;Jun&quot;,&quot;Jul&quot;,&quot;Aug&quot;,&quot;Sep&quot;,&quot;Oct&quot;,&quot;Nov&quot;,&quot;Dic&quot;],&quot;datasets&quot;:[{&quot;label&quot;:&quot;Walking Clients&quot;,&quot;backgroundColor&quot;:&quot;#c32e2e&quot;,&quot;borderColor&quot;:&quot;#dd2525&quot;,&quot;data&quot;:[&quot;{{ JAN.count }}&quot;,&quot;{{ FEB.count }}&quot;,&quot;{{ MAR.count }}&quot;,&quot;{{ APR.count }}&quot;,&quot;{{ MAY.count }}&quot;,&quot;{{ JUN.count }}&quot;,&quot;{{ JULY.count }}&quot;,&quot;{{ AUG.count }}&quot;,&quot;{{ SEP.count }}&quot;,&quot;{{ OCT.count }}&quot;,&quot;{{ NOV.count }}&quot;,&quot;{{ DIC.count }}&quot;]}]},&quot;options&quot;:{&quot;maintainAspectRatio&quot;:true,&quot;legend&quot;:{&quot;display&quot;:false},&quot;title&quot;:{}}}">
          </canvas>
        </div>
      </div>
    
    
        <script
            src="{% static 'barbershop/assets/js/jquery.min2.js' %}"></script>
            <script src="{% static 'barbershop/assets/js/bootstrap.min.js' %}"></script>
            <script src="{% static 'barbershop/assets/js/chart.min.js' %}"></script>
            <script src="{% static 'barbershop/assets/js/bs-init.js' %}"></script>
            {% if title == "Last_Year" %}
            {% else %}
    <div class="container">
        <div class="card shadow">
            <div class="card-header bg-danger">
                <div class="row d-flex justify-content-center align-items-center align-content-center client-bar">
                        <div class="col-4 text-center text-white d-flex flex-column justify-content-center align-items-center align-content-center">
                            <h4 class="font-l">Client</h4>
                         </div>
                        <div class="col-3 text-center text-white d-flex flex-column justify-content-center align-items-center align-content-center">
                            <H4 class="font-l">Barber</H4>
                         </div>
                        <div class="col-3 text-center text-white d-flex flex-column justify-content-center align-items-center align-content-center">
                            <h4 class="font-l">Date</h4>
                        </div>
                        <div class="col-2 text-center text-white d-flex flex-column justify-content-center align-items-center align-content-center">
                            <p>Customers Completed</p>
                            <h6 class="count">{{ users.paginator.count }}</h6>
                        </div>
                </div>
            </div>
                        
    
            <div class="card-body">
                <div class="client">
                    {% for complete in completed %}
    
                    <div id='client' class="client">
                            <div class="row d-flex justify-content-center align-items-center align-content-center">
                                    <div class="col-4 text-center text-white d-flex flex-column justify-content-center align-items-center align-content-center">
                                        <h3 class="client-btn">{{ complete.name }}</h3>
                                    </div>
                                    <div class="col-3 text-center text-white d-flex flex-column justify-content-center align-items-center align-content-center">
                                        <h3 class="barber-btn">{{ complete.barber }}</h3>
                                    </div>
                                    <div class="col-3 text-center text-white d-flex flex-column justify-content-center align-items-center align-content-center">
                                        <h3>{{ complete.date }}</h3>
                                    </div>
                                    <div class="col-2 text-center text-white d-flex flex-column justify-content-center align-items-center align-content-center">
                                        <div class="table-btn my-3">
                                        </div>
                                    </div>
                                    
                            </div>
                    </div>
        
                    {% endfor %} 
                    {% endif %}
                </div>
                    
               
                    <script type="text/javascript"
                            src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
                            <script src="{% static 'barbershop/assets/js/autorefresh.js' %}"></script>
                            <script src="{% static 'barbershop/assets/js/count.js' %}"></script>
                            <script>
                                // When the user clicks on div, open the popup
                                function showFunction() {
                                  var popup = document.getElementById("myPopup");
                                  popup.classList.toggle("show");
                                  $('#btnviewdetails').text('Cancel').button("refresh")
                                }
                                function hideFunction() {
                                  var popup = document.getElementById("myPopup");
                                  popup.classList.toggle("hide");
                                }
                                </script>
            </div>
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-6 d-flex justify-content-center">
                        {% if users.has_other_pages %}
                            <ul class="pagination mt-3">
                                {% if users.has_previous %}
                                    <li class="page-item"><a class="page-link" href="?page={{ users.previous_page_number }}">&laquo;</a></li>
                                {% else %}
                                    <li class="disabled"><a class="page-link">&laquo;</a></li>
                                {% endif %}
                                {% for i in users.paginator.page_range %}
                                {% if users.number == i %}
                                    <li class="page-item active"><a class="page-link"><span>{{ i }} <span class="sr-only">(current)</span></a></span></li>
                                {% else %}
                                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                {% endif %}
                                {% endfor %}
                                {% if users.has_next %}
                                    <li class="page-item"><a class="page-link" href="?page={{ users.next_page_number }}">&raquo;</a></li>
                                {% else %}
                                    <li class="disabled"><a class="page-link">&raquo;</a></li>
                                {% endif %}
                            </ul>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}