{% load static %}
{% load pwa %}

<!DOCTYPE html>
<html>

<head>
    {% progressive_web_app_meta %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home Page</title>
    <link rel="stylesheet" href="{% static 'home_page/assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'home_page/assets/fonts/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'home_page/assets/fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'home_page/assets/fonts/fontawesome5-overrides.min.css' %}">
    <link rel="stylesheet" href="{% static 'home_page/assets/css/styles.css' %}">
</head>

<body style="background-color: rgb(73,92,133);">
    <div>
        <div class="container">
            <div class="row d-flex align-items-center min-vh-100 mt-2 mb-2">
                <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 mb-2">
                    <a class="text-danger" href="{% url 'barbershop-waitinglist'%}">
                        <div class="card">
                            <div class="card-body text-center"><i class="fas fa-user-tie barber-view"></i>
                                <h4 class="card-title">Barber's View</h4>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 mb-2">
                    <a class="text-danger" href="{% url 'barbershop-waiting'%}">
                        <div class="card">
                            <div class="card-body text-center"><i class="fa fa-users barber-view"></i>
                                <h4 class="card-title">Client's View</h4>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 mb-2">
                    <a class="text-danger" href="{% url 'barbershop-signup'%}">
                        <div class="card">
                            <div class="card-body text-center"><i class="fas fa-user-plus barber-view"></i>
                                <h4 class="card-title">Client's SignUp</h4>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'home_page/assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'home_page/assets/bootstrap/js/bootstrap.min.js' %}"></script>
</body>

</html>