{% extends 'barbershop/base.html' %}
{% load static %}
            
        
    {% block content %}
        <section>
                <div class="container">
                    <div class="row d-flex justify-content-center align-items-center align-content-center">
                            <div class="form col-11 col-sm-11 col-md-10 col-lg-8 text-center text-white d-flex flex-column justify-content-center align-items-center align-content-center">
                                    <form class="site-form shadow" method="post">
                                        {% csrf_token %}
                                            <h1>Update Service</h1>
                                            <div class="row justify-content-center">
                                                <div class="col-8 p-0">
                                                    {{ form.service }}
                                                </div>
                                            <div class="col-3 p-0">
                                                {{ form.price }}
                                            </div>
                                            </div>
                                            
                                    
                                        
                                        <input class="confirm-button" id="my-signup" type="submit" value="Update">
                                        <a href="{% url 'barbershop-settings' %}" class="confirm-button">Cancel</a>
                                </form> 
                                
                            </div>
                            
                    </div>
                </div>
                
            </section>

            
            
            
    {% endblock content %}