{% extends 'barbershop/base.html' %}
{% load static %}
            
        
    {% block content %}
    <section>
        <div class="container">
            <div class="row d-flex justify-content-center align-content-center">
                <div class="col-3 col-sm-4 col-md-3 col-lg-2 col-xl-2 mt-2" id="logo"><img src="{{ logo.image.url }}" /></div>
            </div>
        </div>
    </section>
    

        <section>
                <div class="container">
                        {% for message in messages %}
                    <div class="row d-flex justify-content-center align-items-center align-content-center">
                        <div id="mydiv" class="col-10 col-sm-10 col-md-8 col-lg-6 col-xl-5 alert alert-danger alert-dismissible fade show message text-center" id="success-alert" role="alert">
                            {{ message }}
                        </div>
                    </div>
                        <script src="{% static 'barbershop/assets/js/alert.js' %}"></script>
                        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
                        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
                        {% endfor %}
                
                    <div class="row d-flex justify-content-center align-items-center align-content-center">
                            <div class="col-11 col-sm-11 col-md-10 col-lg-8 text-center text-white d-flex flex-column justify-content-center align-items-center align-content-center">
                                    <form class="site-form shadow" method="post">
                                        {% csrf_token %}
                                            <h1>Update Service</h1>
                                            <div class="row justify-content-center">
                                                <div class="col-8 p-0">
                                                    {{ form.service }}
                                                </div>
                                            <div class="col-3 p-0">
                                                {{ form.price }}
                                            </div>
                                            </div>
                                            
                                    
                                        
                                        <input class="confirm-button" id="my-signup" type="submit" value="Update">
                                        <a href="{% url 'barbershop-settings' %}" class="confirm-button">Cancel</a>
                                </form> 
                                
                            </div>
                            
                    </div>
                </div>
                
            </section>

            
            
            
    {% endblock content %}