{% extends 'barbershop/base.html' %}
{% load static %}
{% load pwa %}
    {% block content %}
    
    <section>
        <div class="container">
            <!--Display Desktop Bar-->
            <div class="d-none d-md-flex row justify-content-center align-content-center align-items-center shadow bg-light"
                id="wait-list">
                <div class="col-12 col-md-3 d-flex justify-content-center">
                    <div class="col-2 col-sm-3 col-md-4 col-lg-4 text-center mt-2 mb-2 ml-3">
                        <a class="chart" href="{% url 'barbershop-completed'%}"><i class="red fas fa-chart-bar"></i></a>
                    </div>
                    <div class="col-2 col-sm-3 col-md-4 col-lg-4 text-center mt-3">
                        <a href="{% url 'barbershop-settings' %}"><i class="red fas fa-user-cog"></i></a>
                    </div>
                    {% if photos.count == 0 %}
                    <div class="col-2 col-sm-3 col-md-4 col-lg-4 text-center mt-2">
                        <a class="chart" href="{% url 'user-profile'%}"><i class="red fas fa-user-circle"></i></a>
                    </div>
                    {% else %}
                    <div class="col-2 col-sm-3 col-md-4 col-lg-4 text-center mt-2">
                        <a href="{% url 'user-profile'%}"><img class="circle-shadow rounded-circle login-pic" src="{{ photos.file.url }}"/></a>
                    </div>
                    {% endif %}
                    <div class="col-2 col-sm-3 text-center mt-2">
                        <a class="logout" href="{% url 'logout_view' %}"><i class="red fas fa-sign-out-alt"></i></a>
                    </div>
                </div>
                <div class="col-12 col-md-6 title-bar">
                    <h2 class="text-center text-dark" id="welcome">Barber View
                    </h2>
                    <div class="col-12 heading-col d-flex justify-content-center">
                        {% for message in messages %}
                        
                            <div id="mydiv" class="col-12 alert alert-danger alert-dismissible fade show message text-center" id="success-alert" role="alert">
                                {{ message }}
                            </div>
                        
                            
                            {% endfor %}
                            <script src="{% static 'barbershop/assets/js/alert.js' %}"></script>
                            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
                            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
                    </div>
                </div>
                <div class="col-12 col-md-3 text-center">
                    <h5 class="ewt text-g">Estimated Wait Time</h5>

                    <div class="col-3 col-sm-3 col-md-8 col-lg-5 d-none d-md-flex time justify-content-center">{{ eta }}
                    </div>
                    <p class="timename d-none d-md-block text-g">{{ time_display }}</p>


                </div>
            </div>
            <!--display Mobile Bar-->
            <div class="d-flex d-md-none row justify-content-center align-content-center align-items-center shadow bg-light"
                id="wait-list">
                <div class="col-12 col-md-6 title-bar">
                    <h2 class="text-center text-dark" id="welcome"></i> Barber View
                    </h2>
                    <div class="col-12 heading-col d-flex justify-content-center">
                        {% for message in messages %}
                        
                            <div id="alert-mobile" class="col-10 alert alert-danger alert-dismissible fade show message text-center" id="success-alert" role="alert">
                                {{ message }}
                            </div>
                        
                            
                            {% endfor %}
                            <script src="{% static 'barbershop/assets/js/alert-mobile.js' %}"></script>
                            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
                            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
                    </div>
                </div>
                <div class="col-12 col-md-3 text-center">
                    <h5 class="ewt">Estimated Wait Time</h5>

                    <div class="col-3 col-sm-3 col-md-8 col-lg-5 time justify-content-center d-flex d-md-none">{{ eta }}
                    </div>
                    <p class="timename d-block d-md-none">{{ time_display }}</p>
                </div>
                <div class="col-12 d-flex justify-content-center">
                    <div class="col-2 col-sm-3 text-center mt-2 mb-2 ml-3">
                        <a class="chart" href="{% url 'barbershop-completed'%}"><i class="red fas fa-chart-bar"></i></a>
                    </div>
                    <div class="col-2 col-sm-3 text-center mt-3">
                        <a href="{% url 'barbershop-settings' %}"><i class="red fas fa-user-cog"></i></a>
                    </div>
                    {% if photos.count == 0 %}
                    <div class="col-2 col-sm-3 text-center mt-2">
                        <a class="chart" href="{% url 'user-profile'%}"><i class="red fas fa-user-circle"></i></a>
                    </div>
                    {% else %}
                    <div class="col-2 col-sm-3 col-md-4 col-lg-4 text-center mt-2">
                        <a href="{% url 'user-profile'%}"><img class="rounded-circle login-pic" src="{{ photos.file.url }}"/></a>
                    </div>
                    {% endif %}
                    <div class="col-2 col-sm-3 text-center mt-2">
                        <a class="logout" href="{% url 'logout_view' %}"><i class="red fas fa-sign-out-alt"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- 
<div class="container">
    <div class="row justify-content-center">
        <div class="col-4 d-flex justify-content-center bg-danger mt-3 shadow rounded border border-white">
            <div class="col-3 text-center mt-2 mb-2">
                <a class="chart" href="{% url 'barbershop-completed'%}"><i class="fas fa-chart-bar"></i></a>
            </div>
            <div class="col-3 text-center mt-2">
                <a class="edit" href="{% url 'barbershop-update_client' %}"><i class="fas fa-edit"></i></a>
            </div>
            <div class="col-3 text-center mt-3">
                <a href="{% url 'barbershop-settings' %}"><i class="fas fa-user-cog text-white"></i></a>
            </div>
        </div>
    </div>
</div>
--> 

<div class="container">
<div class="row">

    <!--Grid column-->
    <div class="col-md-12 text-left">

        <div class="card">
            <div class="card-body p-0">

                <!-- Client table -->
                <div class="table-responsive rounded-lg">

                    <table class="table product-table">

                        <!-- Table head -->
                        <thead class="bg-grey lighten-5">
                            <tr>
                                
                                <th class="font-weight-bold text-center">
                                    <strong>Client</strong>
                                </th>
                                <th class="font-weight-bold text-center">
                                    <strong>Barber</strong>
                                </th>
                                
                                <th class="font-weight-bold text-center">
                                    <strong>Time</strong>
                                </th>
                                <th class="font-weight-bold text-center">
                                    <strong>Edit</strong>
                                </th>
                                <th class="font-weight-bold text-center">
                                    <strong>Complete</strong>
                                </th>
                                
                            </tr>
                        </thead>
                        <!-- /.Table head -->

                        <!-- Table body -->
                        <tbody class="client">
                            {% for client in clients %}
                            <!-- First row -->
                            <tr id='client' class="client">
                        
                                <td>
                                    <h5 class="text-center">
                                        <strong>{{ client.name }}</strong>
                                    </h5>
                                </td>
                                <td>
                                    <h5 class="text-center">
                                        <strong>{{ client.barber }}</strong>
                                    </h5>
                                </td>
                                
                                <td>
                                    <p class="text-center">
                                        <strong>{{ client.date }}</strong>
                                    </p>
                                </td>
                                <td class="font-weight-bold text-center">
                                    <form action="{% url 'barbershop-update' client.id %}">
                                        {% csrf_token %}
                                        <button class="completed-btn red" type="submit"><i
                                                class="fas fa-pencil-alt"></i></button>
                                    </form>
                                </td>
                                <td class="font-weight-bold text-center">
                                    <form action="{% url 'barbershop-delete' client.id %}">
                                        {% csrf_token %}
                                        <button class="completed-btn red" type="submit"><i
                                                class="fas fa-check"></i></button>
                                    </form>
                                </td>
                            </tr>
                            <!-- /.First row -->
                            {% endfor %}
                        </tbody>
                        <!-- /.Table body -->
                        
                    </table>
                    <div class="container">
                            <div class="row d-flex justify-content-center">
                                <div class="col-6 d-flex justify-content-center">
                                    {% if users.has_other_pages %}
                                        <ul class="pagination mt-3">
                                            {% if users.has_previous %}
                                                <li class="page-item"><a class="page-link" href="?page={{ users.previous_page_number }}">&laquo;</a></li>
                                            {% else %}
                                                <li class="disabled"><a class="page-link">&laquo;</a></li>
                                            {% endif %}
                                            {% for i in users.paginator.page_range %}
                                            {% if users.number == i %}
                                                <li class="page-item active"><a class="page-link"><span>{{ i }} <span class="sr-only">(current)</span></a></span></li>
                                            {% else %}
                                                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                            {% endif %}
                                            {% endfor %}
                                            {% if users.has_next %}
                                                <li class="page-item"><a class="page-link" href="?page={{ users.next_page_number }}">&raquo;</a></li>
                                            {% else %}
                                                <li class="disabled"><a class="page-link">&raquo;</a></li>
                                            {% endif %}
                                        </ul>
                                    {% endif %}
                                </div>
                            </div>
                        </div> 
                </div>
                <!-- /.Shopping Cart table -->

            </div>

        </div>

    </div>
    <!--Grid column-->

</div>
</div>
    
    <section class="list-table">

        <div class="container">
            <!-- start
                 <div class="card shadow mb-4">
                <div class="card-header bg-danger">
                    <div class="row d-flex justify-content-center align-items-center align-content-center client-bar">
                        <div class="col-3 text-white d-flex flex-column justify-content-center align-items-center align-content-center separator">
                            <h4 class="font-l">Client</h4>
                        </div>
                        <div class="col-4 col-sm-3 text-white d-flex flex-column justify-content-center align-items-center align-content-center separator">
                            <H4 class="font-l">Barber</H4>
                        </div>
                        <div class="col-4 col-sm-3 text-white d-flex flex-column justify-content-center align-items-center align-content-center">
                            <h4 class="font-l">Time</h4>
                        </div>
                        <div class="d-none d-md-flex col-2 text-center text-white justify-content-center align-items-center align-content-center">
                            <a class="logout" href="{% url 'logout_view' %}"><i class="fas fa-sign-out-alt"></i></a>
                        </div>
                    </div>
                </div>
                

                <div class="card-body">
                    <div class="client">
                        {% for client in clients %}

                        <div id='client' class="client">
                        
                            <div class="row d-flex justify-content-center align-items-center align-content-center border-bottom">
                                <div class="d-block d-md-flex col-1 text-center text-white justify-content-center align-items-center align-content-center m-0 p-0">
                                    <div class="d-block d-md-none table-btn my-1">
                                        <form action="{% url 'barbershop-update' client.id %}">
                                            {% csrf_token %}
                                            <button class="completed-btn red" type="submit"><i
                                                    class="fas fa-pencil-alt"></i></button>
                                        </form>
                                    </div>
                                </div>
                                <div class="col-3 text-center text-white d-flex flex-column justify-content-center align-items-center align-content-center">
                                    <h4 class="client-btn text-dark">{{ client.name }}</h4>
                                </div>
                                <div class="col-3 text-center text-white d-flex flex-column justify-content-center align-items-center align-content-center">
                                    <h4 class="barber-btn text-dark">{{ client.barber }}</h4>
                                </div>
                                <div class="col-3 text-center text-white d-flex flex-column justify-content-center align-items-center align-content-center">
                                    <h4 class="text-dark">{{ client.date }}</h4>
                                </div>
                                <div class="d-none d-md-flex col-1 text-center text-white justify-content-center align-items-center align-content-center m-0 p-0">
                                    <div class="d-none d-md-block table-btn my-1">
                                        <form action="{% url 'barbershop-update' client.id %}">
                                            {% csrf_token %}
                                            <button class="completed-btn red" type="submit"><i
                                                    class="fas fa-pencil-alt"></i></button>
                                        </form>
                                    </div>
                                </div>
                                <div class="col-1 text-center text-white d-flex flex-column justify-content-center align-items-center align-content-center m-0 p-0">
                                    <div class="table-btn my-1">
                                        <form action="{% url 'barbershop-delete' client.id %}">
                                            {% csrf_token %}
                                            <button class="completed-btn red" type="submit"><i
                                                    class="fas fa-check"></i></button>
                                        </form>
                                    </div>
                                </div>

                            </div>
                        </div>

                        {% endfor %}
                        
                    </div>
                    <div class="container">
                        <div class="row d-flex justify-content-center">
                            <div class="col-6 d-flex justify-content-center">
                                {% if users.has_other_pages %}
                                    <ul class="pagination mt-3">
                                        {% if users.has_previous %}
                                            <li class="page-item"><a class="page-link" href="?page={{ users.previous_page_number }}">&laquo;</a></li>
                                        {% else %}
                                            <li class="disabled"><a class="page-link">&laquo;</a></li>
                                        {% endif %}
                                        {% for i in users.paginator.page_range %}
                                        {% if users.number == i %}
                                            <li class="page-item active"><a class="page-link"><span>{{ i }} <span class="sr-only">(current)</span></a></span></li>
                                        {% else %}
                                            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                        {% endif %}
                                        {% endfor %}
                                        {% if users.has_next %}
                                            <li class="page-item"><a class="page-link" href="?page={{ users.next_page_number }}">&raquo;</a></li>
                                        {% else %}
                                            <li class="disabled"><a class="page-link">&raquo;</a></li>
                                        {% endif %}
                                    </ul>
                                {% endif %}
                            </div>
                        </div>
                    </div> 
                end -->

                    <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
                    <script src="{% static 'barbershop/assets/js/autorefresh.js' %}"></script>
                    <script src="{% static 'barbershop/assets/js/time.js' %}"></script>
                    <script>
                        // When the user clicks on div, open the popup
                        function showFunction() {
                            var popup = document.getElementById("myPopup");
                            popup.classList.toggle("show");
                            $('#btnviewdetails').text('Cancel').button("refresh")
                        }
                        function hideFunction() {
                            var popup = document.getElementById("myPopup");
                            popup.classList.toggle("hide");
                        }
                    </script>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}