{% extends 'barbershop/base.html' %}
{% load static %}
    
{% block content %}
    <section>
        <div class="container">
        <div class="row justify-content-center align-content-center align-items-center shadow bg-light" id="wait-list">
            <div class="col-3 d-flex justify-content-center">
                <img class="img-fluid img_logo" src="{{ logo.image.url }}" alt="">
            </div>
            <div class="col-6">
                    <h2 class="text-center text-dark" id="welcome">Waiting List</h2>
            </div>
                <div class="col-3 text-center">
                    <h4 class="ewt">Estimated Wait Time</h4>
                     <div class="col-11 col-sm-11 col-md-8 col-lg-5 time justify-content-center">{{ eta }}
                     </div>
                     <p class="timename">{{ time_display }}</p>
                              

                </div>  
        </div>
    </div>
    </section>
<section class="list-table">
        
    <div class="container">
        <div class="row d-flex">
            <div class="col-9 mb-4">
                <div class="card shadow">
                    <div class="card-header bg-danger">
                        <div class="row d-flex justify-content-center align-items-center align-content-center client-bar">
                                <div class="col-4 text-center text-white d-flex flex-column justify-content-center align-items-center align-content-center separator">
                                    <h4 class="font-l">Client</h4>
                                </div>
                                <div class="col-4 text-center text-white d-flex flex-column justify-content-center align-items-center align-content-center separator">
                                    <H4 class="font-l">Barber</H4>
                                </div>
                                <div class="col-4 text-center text-white d-flex flex-column justify-content-center align-items-center align-content-center">
                                    <h4 class="font-l">Time</h4>
                                </div>
                        </div>
                    </div>
                                
                    {% for message in messages %}
                        <div id="mydiv" class="alert alert-danger alert-dismissible fade show message text-center" role="alert">
                            {{ message }}
                        </div>
                        <script src="{% static 'barbershop/assets/js/alert.js' %}"></script>
                        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
                        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
                    {% endfor %}
                    <div class="card-body">
                                <div class="client">
                                    {% for client in clients %}

                                    <div id='client' class="client">
                                            <div class="row d-flex justify-content-center align-items-center align-content-center border-bottom">
                                                    <div class="col-4 text-center text-white d-flex flex-column justify-content-center align-items-center align-content-center my-1">
                                                        <h4 class="client-btn text-dark">{{ client.name }}</h4>
                                                    </div>
                                                    <div class="col-4 text-center text-white d-flex flex-column justify-content-center align-items-center align-content-center my-1">
                                                        <h4 class="barber-btn text-dark">{{ client.barber }}</h4>
                                                    </div>
                                                    <div class="col-4 text-center text-white d-flex flex-column justify-content-center align-items-center align-content-center my-1">
                                                        <h4 class="text-dark">{{ client.date }}</h4>
                                                    </div>
                                                    
                                                    
                                            </div>
                                    </div>
                        
                                    {% endfor %} 
                                    
                            
                                    <script type="text/javascript"
                                            src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
                                            <script src="{% static 'barbershop/assets/js/autorefresh.js' %}"></script>
                                            <script src="{% static 'barbershop/assets/js/time.js' %}"></script>
                                            
                            </div>
                    </div>
                    <div class="container">
                        <div class="row d-flex justify-content-center">
                            <div class="col-6 d-flex justify-content-center">
                                {% if users.has_other_pages %}
                                    <ul class="pagination mt-3">
                                        {% if users.has_previous %}
                                            <li class="page-item"><a class="page-link" href="?page={{ users.previous_page_number }}">&laquo;</a></li>
                                        {% else %}
                                            <li class="disabled"><a class="page-link">&laquo;</a></li>
                                        {% endif %}
                                        {% for i in users.paginator.page_range %}
                                        {% if users.number == i %}
                                            <li class="page-item active"><a class="page-link"><span>{{ i }} <span class="sr-only">(current)</span></a></span></li>
                                        {% else %}
                                            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                        {% endif %}
                                        {% endfor %}
                                        {% if users.has_next %}
                                            <li class="page-item"><a class="page-link" href="?page={{ users.next_page_number }}">&raquo;</a></li>
                                        {% else %}
                                            <li class="disabled"><a class="page-link">&raquo;</a></li>
                                        {% endif %}
                                    </ul>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-3">
                <div class="card">
                    <div class="card-header bg-danger text-center"><h4 class="font-l text-white">Weather</h4>
                    </div>
                    <div class="weather-link">
                        <div class="card-body text-center">
                                <figure class="sky">
                                        <img src="http://openweathermap.org/img/w/{{ city_weather.icon }}.png" alt="Image">
                                    </figure>
                            <h4 class="card-title font-b city">{{ city_weather.city }}</h4>
                            <p class="card-text font-b bg-danger temp mx-auto text-white">{{ city_weather.temperature }}°F</p>
                            <p class="card-text d-bottom font-b description">{{ city_weather.description }}</p>

                        </div>
                    </div>
                </div>
            <div class="card mb-4">
                <div class="card-header bg-danger text-center"><h4 class="font-l text-white">Prices</h4></div>
                    <div class="services">
                        <div class="card-body">
                            <h4 class="card-title font-b city mt-3">Men's Haircut</h4>
                            {% for service in menservices %}
                            <p class="">{{ service.service }} - ${{ service.price }}</p>
                            {% endfor %}
                            <h4 class="card-title font-b city mt-3">Kid's Haircut</h4>
                            {% for service in kidservices %}
                            <p class="">{{ service.service }} - ${{ service.price }}</p>
                            {% endfor %}
                            <h4 class="card-title font-b city mt-3">Other Services</h4>
                            {% for service in otherservices %}
                            <p class="">{{ service.service }} - ${{ service.price }}</p>
                            {% endfor %}
                            <p class="d-bottom"></p>
                        </div>
                    </div>
            </div>
            <!-- 
            {% if user.is_authenticated %}
            <div class="card mb-4">
                <div class="card-header bg-danger text-center"><h4 class="font-l text-white">Users</h4></div>
                    <div class="">
                        <div class="card-body">
                            <h4 class="card-title font-b city mt-3">Profile</h4>
                            <p class="">Welcome, {{ user.first_name }}! </p>
                            <p class="d-bottom"></p>
                        </div>
                    </div>
            </div>
            {% endif %}  
            -->
            </div>
                
        </div>
    </div>
</section>          
{% endblock content %}