{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    {% if title %}
    <title>Barbershop | {{ title }}</title>
    {% else %}
    <title>Barbershop</title>
    {% endif %}
    <link rel="icon" type="image/jpeg" sizes="16x16" href="{% static 'barbershop/assets/img/16x16.jpg' %}">
    <link rel="icon" type="image/jpeg" sizes="32x32" href="{% static 'barbershop/assets/img/32x32.jpg' %}">
    <link rel="icon" type="image/jpeg" sizes="180x180" href="{% static 'barbershop/assets/img/180x180.jpg' %}">
    <link rel="icon" type="image/jpeg" sizes="192x192" href="{% static 'barbershop/assets/img/192x192.jpg' %}">
    <link rel="icon" type="image/jpeg" sizes="512x512" href="{% static 'barbershop/assets/img/512x512.jpg' %}">
    <link rel="stylesheet" href="{% static 'barbershop/assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="manifest" href="{% static 'barbershop/manifest.json' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anton">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Archivo+Black">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kaushan+Script">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Montserrat:200,200i,300,300i,400,400i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="{% static 'barbershop/assets/fonts/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'barbershop/assets/fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'barbershop/assets/fonts/ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'barbershop/assets/css/better-nav.css' %}">
    <link rel="stylesheet" href="{% static 'barbershop/assets/css/Contact-Form-Clean.css' %}">
    <link rel="stylesheet" href="{% static 'barbershop/assets/css/Footer-Dark.css' %}">
    <link rel="stylesheet" href="{% static 'barbershop/assets/css/Footer-Dark.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css">
    <link rel="stylesheet" href="{% static 'barbershop/assets/css/Lightbox-Gallery.css' %}">
    <link rel="stylesheet" href="{% static 'barbershop/assets/css/Newsletter-Subscription-Form.css' %}">
    <link rel="stylesheet" href="{% static 'barbershop/assets/css/styles.css' %}">
    <link rel="apple-touch-icon" href="{% static '/barbershop/assets/img/180x180.jpg' %}">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-132458520-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-132458520-1');
    </script>
</head>

<body>

    {% block content %}

    <section>
        <div class="container">
            <!--Display Desktop Bar-->
            <div class="d-none d-md-flex row justify-content-center align-content-center align-items-center shadow bg-light"
                id="wait-list">
                <div class="col-12 col-md-3 d-flex justify-content-center">
                    <div class="col-2 col-sm-3 col-md-4 col-lg-4 text-center mt-2 mb-2 ml-3">
                        <a class="chart" href="{% url 'barbershop-completed'%}"><i class="red fas fa-chart-bar"></i></a>
                    </div>
                    <div class="col-2 col-sm-3 col-md-4 col-lg-4 text-center mt-3">
                        <a href="{% url 'barbershop-settings' %}"><i class="red fas fa-user-cog"></i></a>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <h2 class="text-center text-dark" id="welcome"></i> Barber View
                    </h2>
                </div>
                <div class="col-12 col-md-3 text-center">
                    <h4 class="ewt">Estimated Wait Time</h4>

                    <div class="col-3 col-sm-3 col-md-8 col-lg-5 d-none d-md-flex time justify-content-center">{{ eta }}
                    </div>
                    <p class="timename d-none d-md-block">{{ time_display }}</p>


                </div>
            </div>
            <!--display Mobile Bar-->
            <div class="d-flex d-md-none row justify-content-center align-content-center align-items-center shadow bg-light"
                id="wait-list">
                <div class="col-12 col-md-6">
                    <h2 class="text-center text-dark" id="welcome"></i> Barber View
                    </h2>
                </div>
                <div class="col-12 col-md-3 text-center">
                    <h5 class="ewt">Estimated Wait Time</h5>

                    <div class="col-3 col-sm-3 col-md-8 col-lg-5 time justify-content-center d-flex d-md-none">{{ eta }}
                    </div>
                    <p class="timename d-block d-md-none">{{ time_display }}</p>
                </div>
                <div class="col-12 col-md-3 d-flex justify-content-center">
                    <div class="col-2 col-sm-3 col-md-4 col-lg-3 text-center mt-2 mb-2 ml-3">
                        <a class="chart" href="{% url 'barbershop-completed'%}"><i class="red fas fa-chart-bar"></i></a>
                    </div>
                    <div class="col-2 col-sm-3 col-md-4 col-lg-3 text-center mt-3">
                        <a href="{% url 'barbershop-settings' %}"><i class="red fas fa-user-cog"></i></a>
                    </div>
                    <div class="col-2 col-sm-3 col-md-4 col-lg-3 text-center mt-2 mb-2 ml-3">
                        <a class="logout" href="{% url 'logout_view' %}"><i class="red fas fa-sign-out-alt"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% for message in messages %}
    <div class="row d-flex justify-content-center align-items-center align-content-center">
        <div id="mydiv"
            class="col-10 col-sm-10 col-md-8 col-lg-6 col-xl-5 alert alert-danger alert-dismissible fade show message text-center"
            id="success-alert" role="alert">
            {{ message }}
        </div>
    </div>
    <script src="{% static 'barbershop/assets/js/alert.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    {% endfor %}
    <!-- 
<div class="container">
    <div class="row justify-content-center">
        <div class="col-4 d-flex justify-content-center bg-danger mt-3 shadow rounded border border-white">
            <div class="col-3 text-center mt-2 mb-2">
                <a class="chart" href="{% url 'barbershop-completed'%}"><i class="fas fa-chart-bar"></i></a>
            </div>
            <div class="col-3 text-center mt-2">
                <a class="edit" href="{% url 'barbershop-update_client' %}"><i class="fas fa-edit"></i></a>
            </div>
            <div class="col-3 text-center mt-3">
                <a href="{% url 'barbershop-settings' %}"><i class="fas fa-user-cog text-white"></i></a>
            </div>
        </div>
    </div>
</div>
-->

    <section class="list-table">

        <div class="container">
            <div class="card shadow">
                <div class="card-header bg-danger">
                    <div class="row d-flex justify-content-center align-items-center align-content-center client-bar">
                        <div class="col-3 text-white d-flex flex-column justify-content-center align-items-center align-content-center separator">
                            <h4 class="font-l">Client</h4>
                        </div>
                        <div class="col-4 col-sm-3 text-white d-flex flex-column justify-content-center align-items-center align-content-center separator">
                            <H4 class="font-l">Barber</H4>
                        </div>
                        <div class="col-4 col-sm-3 text-white d-flex flex-column justify-content-center align-items-center align-content-center">
                            <h4 class="font-l">Time</h4>
                        </div>
                        <div class="d-none d-md-flex col-2 text-center text-white justify-content-center align-items-center align-content-center">
                            <a class="admin" href="/admin"><i class="fas fa-user-lock"></i></a>
                            <a class="logout" href="{% url 'logout_view' %}"><i class="fas fa-sign-out-alt"></i></a>
                        </div>
                    </div>
                </div>
                

                <div class="card-body">
                    <div class="client">
                        {% for client in clients %}

                        <div id='client' class="client">
                            <div class="row d-flex justify-content-center align-items-center align-content-center border-bottom">
                                <div class="col-3 text-center text-white d-flex flex-column justify-content-center align-items-center align-content-center">
                                    <h4 class="client-btn text-dark">{{ client.name }}</h4>
                                </div>
                                <div class="col-3 text-center text-white d-flex flex-column justify-content-center align-items-center align-content-center">
                                    <h4 class="barber-btn text-dark">{{ client.barber }}</h4>
                                </div>
                                <div class="col-3 text-center text-white d-flex flex-column justify-content-center align-items-center align-content-center">
                                    <h4 class="text-dark">{{ client.date }}</h4>
                                </div>
                                <div class="d-none d-md-flex col-1 text-center text-white justify-content-center align-items-center align-content-center m-0 p-0">
                                    <div class="d-none d-md-block table-btn my-1">
                                        <form action="{% url 'barbershop-update' client.id %}">
                                            {% csrf_token %}
                                            <button class="completed-btn red" type="submit"><i
                                                    class="fas fa-pencil-alt"></i></button>
                                        </form>
                                    </div>
                                </div>
                                <div
                                    class="col-1 text-center text-white d-flex flex-column justify-content-center align-items-center align-content-center m-0 p-0">
                                    <div class="table-btn my-1">
                                        <form action="{% url 'barbershop-delete' client.id %}">
                                            {% csrf_token %}
                                            <button class="completed-btn red" type="submit"><i
                                                    class="fas fa-check"></i></button>
                                        </form>
                                    </div>
                                </div>

                            </div>
                        </div>

                        {% endfor %}
                    </div>


                    <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
                    <script src="{% static 'barbershop/assets/js/autorefresh.js' %}"></script>
                    <script src="{% static 'barbershop/assets/js/time.js' %}"></script>
                    <script>
                        // When the user clicks on div, open the popup
                        function showFunction() {
                            var popup = document.getElementById("myPopup");
                            popup.classList.toggle("show");
                            $('#btnviewdetails').text('Cancel').button("refresh")
                        }
                        function hideFunction() {
                            var popup = document.getElementById("myPopup");
                            popup.classList.toggle("hide");
                        }
                    </script>
                </div>
            </div>
        </div>
    </section>
    <div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">



                </div>
                <p class="copyright">The Barbershop WaitingList© 2018-2019</p>
            </div>
        </footer>



        {% endblock content %}