{% load static %}
{% load pwa %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% progressive_web_app_meta %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home Page</title>
    <link rel="stylesheet" href="{% static 'home_page/assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'home_page/assets/fonts/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'home_page/assets/fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'home_page/assets/fonts/fontawesome5-overrides.min.css' %}">
    <link rel="stylesheet" href="{% static 'home_page/assets/css/styles.css' %}">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Montserrat:200,200i,300,300i,400,400i,700,700i,800,800i,900,900i">
</head>

<body style="background-color: rgb(73,92,133);">
    <div>
        <div class="container">
            <div class="row d-flex justify-content-center align-items-center min-vh-100 mt-2 mb-2">
                <div class="col-8 col-sm-6 col-md-4 col-lg-3 col-xl-3 mb-2">
                    <a class="text-danger" href="{% url 'barbershop-waitinglist'%}">
                        <div class="card">
                            <div class="barber-view-card p-0 card-body text-center"><img
                                    src="/static/barbershop/assets/img/barberview.jpg" alt="">
                                <h4 class="card-title mt-2">Barber's View</h4>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-8 col-sm-6 col-md-4 col-lg-3 col-xl-3 mb-2">
                    <a class="text-danger" href="{% url 'barbershop-waiting'%}">
                        <div class="card">
                            <div class="barber-view-card p-0 card-body text-center"><img
                                    src="/static/barbershop/assets/img/clientview.jpg" alt="">
                                <h4 class="card-title mt-2">Client's View</h4>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-8 col-sm-6 col-md-4 col-lg-3 col-xl-3 mb-2">
                    <a class="text-danger" href="{% url 'barbershop-signup'%}">
                        <div class="card">
                            <div class="barber-view-card p-0 card-body text-center"><img
                                    src="/static/barbershop/assets/img/signup.jpg" alt="">
                                <h4 class="card-title mt-2">SignUp View</h4>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'home_page/assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'home_page/assets/bootstrap/js/bootstrap.min.js' %}"></script>
</body>

</html>
