{% extends 'barbershop/base.html' %}
{% load static %}

{% block content %}
<section>
    <div class="container">
        <div class="row justify-content-center align-content-center align-items-center shadow bg-light" id="wait-list">
            <div class="col-3 d-flex justify-content-center">

            </div>
            <div class="col-6">
                <h2 class="text-center text-dark" id="welcome">Waiting List</h2>
            </div>
            <div class="col-3 text-center">
                <h5 class="ewt text-g">Estimated Wait Time</h5>
                <div class="col-11 col-sm-11 col-md-8 col-lg-5 time justify-content-center">{{ eta }}
                </div>
                <p class="timename text-g">{{ time_display }}</p>


            </div>
        </div>
    </div>
</section>


<section class="list-table">
    <div class="container">

        <div class="row d-flex">

            <div class="col-12 mb-4">
                <div class="clients list-table">
                    <div class="container">
                        <div class="row">

                            <!--Grid column-->
                            <div class="p-0 col-md-12 text-left">

                                <div class="card mt-2">
                                    <div class="card-body p-0">

                                        <!-- Client table -->
                                        <div class="table-responsive rounded-lg">

                                            <table class="table product-table">

                                                <!-- Table head -->
                                                <thead class="bg-grey lighten-5">
                                                    <tr>

                                                        <th class="font-weight-bold text-center">
                                                            <strong>Client</strong>
                                                        </th>
                                                        <th class="font-weight-bold text-center">
                                                            <strong>Barber</strong>
                                                        </th>

                                                        <th class="font-weight-bold text-center">
                                                            <strong>Time</strong>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <!-- /.Table head -->

                                                <!-- Table body -->
                                                <tbody>
                                                    {% for client in clients %}
                                                    <!-- First row -->
                                                    <tr>

                                                        <td>
                                                            <h5 class="text-center">
                                                                {{ client.name }}
                                                            </h5>
                                                        </td>
                                                        <td>
                                                            <h5 class="text-center">
                                                                {{ client.barber }}
                                                            </h5>
                                                        </td>

                                                        <td>
                                                            <h5 class="text-center">
                                                                {{ client.date }}
                                                            </h5>
                                                        </td>
                                                    </tr>
                                                    <!-- /.First row -->
                                                    {% endfor %}
                                                </tbody>
                                                <!-- /.Table body -->

                                            </table>
                                            <div class="container">
                                                <div class="row d-flex justify-content-center">
                                                    <div class="col-6 d-flex justify-content-center">
                                                        {% if users.has_other_pages %}
                                                        <ul class="pagination mt-3">
                                                            {% if users.has_previous %}
                                                            <li class="page-item"><a class="page-link"
                                                                    href="?page={{ users.previous_page_number }}">&laquo;</a>
                                                            </li>
                                                            {% else %}
                                                            <li class="disabled"><a class="page-link">&laquo;</a></li>
                                                            {% endif %}
                                                            {% for i in users.paginator.page_range %}
                                                            {% if users.number == i %}
                                                            <li class="page-item active"><a
                                                                    class="page-link"><span>{{ i }} <span
                                                                            class="sr-only">(current)</span></a>
                                                            </li>
                                                            {% else %}
                                                            <li class="page-item"><a class="page-link"
                                                                    href="?page={{ i }}">{{ i }}</a></li>
                                                            {% endif %}
                                                            {% endfor %}
                                                            {% if users.has_next %}
                                                            <li class="page-item"><a class="page-link"
                                                                    href="?page={{ users.next_page_number }}">&raquo;</a>
                                                            </li>
                                                            {% else %}
                                                            <li class="disabled"><a class="page-link">&raquo;</a></li>
                                                            {% endif %}
                                                        </ul>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.Shopping Cart table -->

                                    </div>

                                </div>

                            </div>
                            <!--Grid column-->

                        </div>
                    </div>
                </div>

            </div>



        </div>
    </div>
</section>
{% endblock content %}
