{% extends 'user_profile/base.html' %}
{% load static %}
{% block javascript %}
  <script>
    $(function () {

      /* SCRIPT TO OPEN THE MODAL WITH THE PREVIEW */
      $("#id_file").change(function () {
        if (this.files && this.files[0]) {
          var reader = new FileReader();
          reader.onload = function (e) {
            $("#image").attr("src", e.target.result);
            $("#modalCrop").modal("show");
          }
          reader.readAsDataURL(this.files[0]);
        }
      });

      /* SCRIPTS TO HANDLE THE CROPPER BOX */
      var $image = $("#image");
      var cropBoxData;
      var canvasData;
      $("#modalCrop").on("shown.bs.modal", function () {
        $image.cropper({
          viewMode: 1,
          aspectRatio: 1/1,
          minCropBoxWidth: 200,
          minCropBoxHeight: 200,
          ready: function () {
            $image.cropper("setCanvasData", canvasData);
            $image.cropper("setCropBoxData", cropBoxData);
          }
        });
      }).on("hidden.bs.modal", function () {
        cropBoxData = $image.cropper("getCropBoxData");
        canvasData = $image.cropper("getCanvasData");
        $image.cropper("destroy");
      });

      $(".js-zoom-in").click(function () {
        $image.cropper("zoom", 0.1);
      });

      $(".js-zoom-out").click(function () {
        $image.cropper("zoom", -0.1);
      });

      /* SCRIPT TO COLLECT THE DATA AND POST TO THE SERVER */
      $(".js-crop-and-upload").click(function () {
        var cropData = $image.cropper("getData");
        $("#id_x").val(cropData["x"]);
        $("#id_y").val(cropData["y"]);
        $("#id_height").val(cropData["height"]);
        $("#id_width").val(cropData["width"]);
        $("#formUpload").submit();
      });

    });
  </script>
  <script>
    $(".fa-camera").click(function () {
    $("input[type='file']").trigger('click');
    });

    $('input[type="file"]').on('change', function() {
    var val = $(this).val();
    $(this).siblings('span').text(val);
    })
</script>
{% endblock %}
{% block content %}
    <div>
        <div class="container-fluid">
            <div class="row d-flex justify-content-center align-items-center profile-top-row shadow">
                <div class="col-auto heading-col">
                    <h3 class="text-danger">Welcome {{ user.first_name}}!</h3>
                </div>
                <div class="col-auto heading-col">
                    {% for message in messages %}
                    <div class="row d-flex justify-content-center align-items-center align-content-center">
                        <div id="mydiv" class="col-12 alert alert-danger alert-dismissible fade show message text-center" id="success-alert" role="alert">
                            {{ message }}
                        </div>
                    </div>
                        <script src="{% static 'barbershop/assets/js/alert.js' %}"></script>
                        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
                        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
                        {% endfor %}
                </div>
                {% if photo.count == 0 %}
                <div class="col-12 text-center pic-col"><img class="rounded-circle border-white shadow profile-image" src="{% static 'user_profile/assets/img/man.jpg' %}" height="200px" width="200px"></div>
                {% else %}
                <div class="col-12 text-center pic-col"><img class="rounded-circle border-white shadow profile-image" src="{{ photo.file.url }}" height="200px" width="200px"></div>
                {% endif %}
                <div class="col-auto text-center text-white barber-icon-col"><i class="la la-scissors barber-icon"></i></div>
                <div class="col-2 text-center barber-notif"><p>0</p></div>
                <div class="col-auto back-col"><a href="{% url 'barbershop-waitinglist' %}"><i class="fas fa-arrow-circle-left"></i></a></div>
                <form action="{% url 'photo' %}" method="post" enctype="multipart/form-data" id="formUpload">
                    {% csrf_token %}
                    <script src="{% static 'barbershop/assets/js/jquery-3.1.1.min.js' %}"></script>
                <div class="col-auto camera-col"><i class="fas fa-camera shadow"></i>{{  photoform }}
                  <select name="user" id="id_user">
                    <option value="{{ user.id }}" selected="">{{ user }}</option>
                  </select>
                </div>
                </form> 
                
            </div>
        </div>
    </div>
    <div>
        <!-- MODAL TO CROP THE IMAGE -->
  <div class="modal fade" id="modalCrop">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">Crop the photo</h4>
        </div>
        <div class="modal-body">
          <img src="" id="image" style="max-width: 100%;">
        </div>
        <div class="modal-footer">
          <div class="btn-group pull-left" role="group">
            <button type="button" class="btn btn-default js-zoom-in">
              <span class="glyphicon glyphicon-zoom-in"></span>
            </button>
            <button type="button" class="btn btn-default js-zoom-out">
              <span class="glyphicon glyphicon-zoom-out"></span>
            </button>
          </div>
          <button type="button" class="btn btn-default" data-dismiss="modal">Nevermind</button>
          <button type="button" class="btn btn-primary js-crop-and-upload">Crop and upload</button>
        </div>
      </div>
    </div>
  </div>
        <div class="container-fluid shadow">
            <div class="row row-2">
                <div class="col">
                    <div></div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="container">
            <div class="row d-flex justify-content-center card-margin">
                <div class="col-12 col-sm-12 col-md-8 col-lg-6 col-xl-5 mb-4"><div class="card shadow">
  <h5 class="card-header">Personal Info</h5>
  <div class="card-body">
      <h5>Name: <span class='pro-info'>{{ user.first_name }}</span></h5>
      <h5>Last Name: <span class='pro-info'>{{ user.last_name }}</span></h5>
      <h5>Email: <span class='pro-info'>{{ user.email }}</span></h5>
      <form action="{% url 'update_user_info' user.id %}" method="post">
        {% csrf_token %}
        <button class="btn btn-primary" type="submit">Edit Info</button>
      </form>
  </div>
</div></div>
                <div class="col-12 col-sm-12 col-md-8 col-lg-6 col-xl-5 mb-4"><div class="card shadow">
  <h5 class="card-header">Address Info</h5>
  <div class="card-body">
    <form action="{% url 'user-address' %}">
      {% csrf_token %}
      <h5>Address: <span class='pro-info'>{{ address.street }}</span></h5>
      <h5>City: <span class='pro-info'>{{ address.city }}</span></h5>
      <h5>State: <span class='pro-info'>{{ address.state }}</span></h5>
      <h5>ZipCode: <span class='pro-info'>{{ address.zip_code }}</span></h5>
      {% if address.count == 0 %}
        <button class="btn btn-primary shadow" type="submit">Edit Info</button>
      {% else %}
        <button class="btn btn-primary shadow" type="submit">Update Info</button>
      {% endif %}
  </form>
  </div>
</div></div>
            </div>
        </div>
    </div>
    <div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Services</h3>
                        <ul>
                            <li><a href="#">Web design</a></li>
                            <li><a href="#">Development</a></li>
                            <li><a href="#">Hosting</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3>About</h3>
                        <ul>
                            <li><a href="#">Company</a></li>
                            <li><a href="#">Team</a></li>
                            <li><a href="#">Careers</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 item text">
                        <h3>Company Name</h3>
                        <p>Praesent sed lobortis mi. Suspendisse vel placerat ligula. Vivamus ac sem lacus. Ut vehicula rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar dictum vel in justo.</p>
                    </div>
                    <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
                </div>
                <p class="copyright">The Barbershop Kiosk © 2020</p>
            </div>
        </footer>
    </div>
{% endblock %}