{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        {% if title %}
            <title>Raulthebarber | {{ title }}</title>
        {% else %}
            <title>Raulthebarber</title>
        {% endif %}
        <link rel="icon" type="image/jpeg" sizes="16x16" href="{% static 'raulthebarber/assets/img/16x16.jpg' %}">
        <link rel="icon" type="image/jpeg" sizes="32x32" href="{% static 'raulthebarber/assets/img/32x32.jpg' %}">
        <link rel="icon" type="image/jpeg" sizes="180x180" href="{% static 'raulthebarber/assets/img/180x180.jpg' %}">
        <link rel="icon" type="image/jpeg" sizes="192x192" href="{% static 'raulthebarber/assets/img/192x192.jpg' %}">
        <link rel="icon" type="image/jpeg" sizes="512x512" href="{% static 'raulthebarber/assets/img/512x512.jpg' %}">
        <link rel="stylesheet" href="{% static 'raulthebarber/assets/bootstrap/css/bootstrap.min.css' %}">
        <link rel="manifest" href="{% static 'raulthebarber/manifest.json' %}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anton">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Archivo+Black">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kaushan+Script">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:200,200i,300,300i,400,400i,700,700i,800,800i,900,900i">
        <link rel="stylesheet" href="{% static 'raulthebarber/assets/fonts/fontawesome-all.min.css' %}">
        <link rel="stylesheet" href="{% static 'raulthebarber/assets/fonts/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'raulthebarber/assets/fonts/ionicons.min.css' %}">
        <link rel="stylesheet" href="{% static 'raulthebarber/assets/css/better-nav.css' %}">
        <link rel="stylesheet" href="{% static 'raulthebarber/assets/css/Contact-Form-Clean.css' %}">
        <link rel="stylesheet" href="{% static 'raulthebarber/assets/css/Footer-Dark.css' %}">
        <link rel="stylesheet" href="{% static 'raulthebarber/assets/css/Footer-Dark.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css">
        <link rel="stylesheet" href="{% static 'raulthebarber/assets/css/Lightbox-Gallery.css' %}">
        <link rel="stylesheet" href="{% static 'raulthebarber/assets/css/Newsletter-Subscription-Form.css' %}">
        <link rel="stylesheet" href="{% static 'raulthebarber/assets/css/styles.css' %}">
        <link rel="apple-touch-icon" href="{% static '/raulthebarber/assets/img/180x180.jpg' %}">
    
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-132458520-1"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        
        gtag('config', 'UA-132458520-1');
        </script>
    </head>
    <body> 
            
        <section>
            <div class="container">
                <div class="row d-flex justify-content-center align-content-center">
                    <!-- <div class="col-3 col-sm-4 col-md-3 col-lg-2 col-xl-2" id="logo"><img src="{% static 'raulthebarber/assets/img/Barber-logo.png' %}" /></div>-->
                </div>
            </div>
        </section>
    {% block content %}
     
    {% endblock content %}